@{
    ViewBag.Title = "Index";
}

<div id="anonyBall"></div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-1.0.0-alpha2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/anonyball.js"></script>
    <script type="text/javascript" src="signalr/hubs"></script>
}